<a href="/teacher/dashboard" class="btn" style="margin-top: 5px; background: none; border: none; padding: 0;">
  <img src="/img/arrow-back-blue.png" alt="Back" style="width: 60px; height: 60px;">
</a>
<div class="container ">
  <% if(locals.error){ %>
    <div class="text-center not-found-content" role="alert">
      <%= error %>
    </div>
    <% } %>
    <% if(locals.success){ %>
        <div class="text-center success-content" role="alert">
          <%= success %>
        </div>
    <% } %>
    <h3>Add Student-Result</h3>
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <form method="POST" autocomplete="off">
          <div class="mb-3">
            <label for="rollNumber" class="form-label">Roll No. : </label>
            <input type="number" name="roll" class="form-control" id="rollNumber" required>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Name : </label>
            <input type="text" name="name" class="form-control" id="name" required>
          </div>
      
          <div class="mb-3">
            <label for="dob" class="form-label">Date of Birth : </label>
            <input type="date" name="dob" class="form-control" id="dob" value="2000-01-01" required>
          </div>
          <div class="mb-3">
            <label for="Score" class="form-label">Score : </label>
            <input type="number" name="score" class="form-control" id="score" min="0" max="100" required>
          </div>
          <button type="submit" class="btn btn-success btn-lg btn-block my-3">Submit</button>
          <button type="reset" class="btn btn-primary btn-lg btn-block my-3">Clear</button>
          <!-- <button type="button" class="btn btn-primary btn-lg btn-block my-3" onclick="myFunction()">Reset</button> -->
        </form>
      </div>  
    </div>
</div>

<!-- <script>
  function myFunction() {
         document.getElementsByTagName('form')[0].reset()
    }
 </script> -->