<h3 style="margin-top: 40px;">Dashboard</h3>
<div class="d-flex justify-content-around optionDiv">
    <div>
        <a href="/teacher/viewall" class="btn mbtn btn-lg btn-block px-5">View Students</a>
    </div>
    <div>
        <a href="/teacher/add" class="btn mbtn btn-lg btn-block px-5">Add Student</a>
    </div>
</div>