<footer class="text-center text-lg-start fixed-bottom" style="background-color: rgb(105, 99, 99,.5);">    
      <div class="text-center text-white p-3" >
        © 2023 Made by <b style="color: rgb(40, 38, 38);">Jai Khandelwal</b> 
      </div>      
</footer>
    
